################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AtividadeComputacaoGrafica/FileContentIndex/0ee8e1e1-2d36-45e5-af3c-fc5ef0a0d179.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/9c9e2e6a-75c0-482a-a964-66a683b66b3a.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/ed1ea994-d3ea-486a-a46b-b56c8c37dc29.vsidx
