################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AtividadeComputacaoGrafica/FileContentIndex/0ee8e1e1-2d36-45e5-af3c-fc5ef0a0d179.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/9c9e2e6a-75c0-482a-a964-66a683b66b3a.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/ed1ea994-d3ea-486a-a46b-b56c8c37dc29.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/15b6c0d4-b255-4ae7-a6d6-2083df9d1596.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/0235d621-8a42-46f5-a789-20878d4da5eb.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/19d3e78b-3f0a-4d1b-9173-688873f8f754.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/31eb4ca2-6fd2-477e-96c0-41e4345f4a75.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/5bf200d3-0e5f-48a0-b2f7-6e6b491ccaba.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/63c1717a-bec5-4a6b-94c0-4a0dc3abe684.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/844ee45b-b0b3-47c2-910f-ef886aa00914.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/a1e280d4-dc20-4ad3-b434-ea475d7dc1c8.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/32530526-fde3-4597-a393-b2b6252f4da5.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/daf62405-66bc-488c-857b-a8b694cfd48f.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/702dfc4d-694a-4b5c-96c1-743c63328503.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/5bacb110-416c-4734-b2f6-b8fbda3bddfd.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/710aeefd-de74-4701-8462-284dd200df1e.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/f2374455-cb98-47ea-a68c-f1f4b54a289c.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/238303ff-b819-4746-ad98-7543d9e49ac6.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/a6b7e229-c010-4780-9b4b-a7643195e0f4.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/0a31583c-4f3a-43a1-aaab-8cd22654b7ce.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/86e0edf7-0e6b-497f-ab0f-bd82d24b5073.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/b021796e-dc7e-48df-a6c7-25343ddddbb1.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/0b3639a6-bd4d-4305-a078-163924095377.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/040613f2-b3af-42d7-9435-daeba76a5013.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/0825b26e-030c-4a25-8aef-f2ad4581632a.vsidx
