################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/AtividadeComputacaoGrafica/FileContentIndex/0ee8e1e1-2d36-45e5-af3c-fc5ef0a0d179.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/9c9e2e6a-75c0-482a-a964-66a683b66b3a.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/ed1ea994-d3ea-486a-a46b-b56c8c37dc29.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/15b6c0d4-b255-4ae7-a6d6-2083df9d1596.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/0235d621-8a42-46f5-a789-20878d4da5eb.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/19d3e78b-3f0a-4d1b-9173-688873f8f754.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/31eb4ca2-6fd2-477e-96c0-41e4345f4a75.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/5bf200d3-0e5f-48a0-b2f7-6e6b491ccaba.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/63c1717a-bec5-4a6b-94c0-4a0dc3abe684.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/844ee45b-b0b3-47c2-910f-ef886aa00914.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/a1e280d4-dc20-4ad3-b434-ea475d7dc1c8.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/32530526-fde3-4597-a393-b2b6252f4da5.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/daf62405-66bc-488c-857b-a8b694cfd48f.vsidx
/.vs/AtividadeComputacaoGrafica/FileContentIndex/702dfc4d-694a-4b5c-96c1-743c63328503.vsidx
